<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Duom.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2023.4.3.12.00</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
				<key>dateExpires</key>
				<string>2024/3/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiNoiseSuppressionExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAudioBeautyExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraClearVisionExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraContentInspectExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraDav1d.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraDrmLoaderExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraPvcExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraReplayKitExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSoundTouch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSpatialAudioExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSuperResolutionExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoSegmentationExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agorafdkaac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agoraffmpeg.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.9.3557</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImSDK_Plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.9.3557</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1026</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TwitterCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1032</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TwitterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E8D7DB129E53C45EC1CF00325634CE2EDBF6844</string>
						<key>dateExpires</key>
						<string>2024/3/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AB39D23T5M</string>
						<key>name</key>
						<string>DUOM INC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AB39D23T5M.evg.duom.com</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>AB39D23T5M</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>Duom.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>75c00857-1d07-470a-a659-402f3e154bee</string>
				<key>dateExpires</key>
				<string>2024/3/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: evg.duom.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AB39D23T5M</string>
				<key>name</key>
				<string>DUOM INC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.1</string>
		</dict>
	</array>
</dict>
</plist>
